<template>
  <v-container grid-list-xs>
    <v-snackbar top left absolute color="success" outline v-model="alertCopy" :timeout="3000">
      <v-icon>mdi-content-copy</v-icon> Copiado
    </v-snackbar>
    <v-row>
      <v-col cols="12" md="6">
        <v-card>
          <v-card-title primary-title style="">
            <v-col>
              <v-row>
              <h1 class="mb-6">Encryption</h1>
              <v-spacer></v-spacer>
              <v-btn icon="mdi-broom" flat @click="clear('e')"></v-btn>
            </v-row>
            </v-col>
          </v-card-title>
          <v-card-text>
            <v-textarea
              name="Mensaje"
              label="Mensaje"
              persistent-placeholder
              placeholder="Escribir Un Mensaje..."
              append-inner-icon="mdi-send"
              @click:append-inner="encryption()"
              @input="encryption()"
              v-model="Mensaje_desencryptado_entrada"
            ></v-textarea>
            <v-textarea
            label="Mensaje Encriptado"
            readonly
            v-model="Mensaje_encryptado_entrada"
            append-inner-icon="mdi-content-copy"
            @click:append-inner="copyClipbard(Mensaje_encryptado_entrada)"
            ></v-textarea>
            <v-textarea
            label="Matriz Decodificadora"
            v-model="matris_decodificadora_entrada"
            readonly
            append-inner-icon="mdi-content-copy"
            @click:append-inner="copyClipbard(matris_decodificadora_entrada)"
            ></v-textarea>
            <h4>Encryption Información </h4>
            <v-divider class="mb-6"></v-divider>
            <ol class="ml-2">
              <li v-for="step in stepEncrypt" >{{ step }}</li>
            </ol>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="6">
        <v-card>
          <v-card-title primary-title>
            <v-col>
              <v-row>
              <h1 class="mb-6">Decryption</h1>
              <v-spacer></v-spacer>
              <v-btn icon="mdi-broom" flat @click="clear('d')"></v-btn>
            </v-row>
            </v-col>
          </v-card-title>
          <v-card-text>
            <v-textarea
              name="Mensaje"
              label="Mensaje"
              v-model="Mensaje_encryptado_salida"
              persistent-placeholder
              placeholder="Escribir Un Mensaje Encriptado..."
              append-inner-icon="mdi-send"
              @click:append-inner="decryption()"
              @input="decryption()"
            ></v-textarea>
            <v-textarea
            label="Matriz Decodificadora"
            v-model="matris_decodificadora_salida"
            @input="decryption()"
            ></v-textarea>
            <v-textarea
            v-model="Mensaje_desencryptado_salida"
              name="Mensaje"
              label="Mensaje"
              readonly
            ></v-textarea>
            <h4>Decryption Información </h4>
            <v-divider class="mb-6"></v-divider>
            <ol class="ml-2">
              <li v-for="step in stepDecrypt" >{{ step }}</li>
            </ol>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
  import {
    asciiArrayToString,
    stringToAsciiArray,
    createMatrix,
    granulate
  } from '@/utils/matrix'
  import * as math from 'mathjs';
  const stepEncrypt = ref(new Array())
  const stepDecrypt = ref(new Array())
  const alertCopy = ref(false)
  const Mensaje_desencryptado_entrada = ref('')
  const Mensaje_encryptado_entrada = ref('')
  const matris_decodificadora_entrada = ref('')


  const Mensaje_desencryptado_salida = ref('')
  const Mensaje_encryptado_salida = ref('')
  const matris_decodificadora_salida = ref('')

  function clear(opt: string) {
    if (opt == 'e') {
       Mensaje_encryptado_salida.value = ''
       Mensaje_desencryptado_salida.value = ''
       matris_decodificadora_salida.value = ''
    }
    if (opt = 'd') {
       Mensaje_desencryptado_entrada.value = ''
       Mensaje_encryptado_entrada.value = ''
       matris_decodificadora_entrada.value = ''
    }
  }
  function encryption() {
    stepEncrypt.value = new Array()
    const optimize = math.ceil(math.sqrt(Mensaje_desencryptado_entrada.value.length)) as number
    stepEncrypt.value.push(`Valor optimo Matriz: ${optimize}`)

    const MessageArray = stringToAsciiArray(Mensaje_desencryptado_entrada.value)
    stepEncrypt.value.push(`Texto a cadena de caracteres: ${JSON.stringify(MessageArray)}`)

    const MessageGrained = granulate(MessageArray, optimize)
    stepEncrypt.value.push(`Texto a Matriz optimizada: ${JSON.stringify(MessageGrained)}`)

    stepEncrypt.value.push(`Buscando Matriz Random Con determinante Dif. Zero`)
    let encode_matrix = new Array()
    let Error = ''
    do{
      try {
        Error = ''
        encode_matrix = createMatrix(optimize,optimize, Rndom)
        matris_decodificadora_entrada.value = JSON.stringify(math.inv(encode_matrix))
      } catch (error: any) {
        Error = error.message
      }
    } while (Error == 'Cannot calculate inverse, determinant is zero')
      stepEncrypt.value.push(`Matriz encontrada: ${JSON.stringify(encode_matrix)}`)

      const EncryptedArray = new Array()
      MessageGrained.forEach(element => {
        EncryptedArray.push(math.multiply(element,encode_matrix))
      });
      stepEncrypt.value.push(`Mensaje Encriptado: ${JSON.stringify(EncryptedArray)}`)
      Mensaje_encryptado_entrada.value = JSON.stringify(EncryptedArray)
  }
  function decryption() {
    stepDecrypt.value = new Array()
    stepDecrypt.value.push(`Transpilando valores`)
    const toDecrypt = JSON.parse(Mensaje_encryptado_salida.value)
    const decryptKey = JSON.parse(matris_decodificadora_salida.value)
    const messageASCI = new Array()

    toDecrypt.forEach((element: any) => {
      const decrypted = math.multiply(element,decryptKey)
      decrypted.forEach((element: any) => {
        messageASCI.push(math.round(element))
      });
    });
    stepDecrypt.value.push(`Multiplicando matrices: ${JSON.stringify(toDecrypt)} . ${matris_decodificadora_salida.value}`)
    stepDecrypt.value.push(`Resultante: ${JSON.stringify(messageASCI)}`)

    Mensaje_desencryptado_salida.value = asciiArrayToString(messageASCI)
    stepDecrypt.value.push(`Valores a Texto`)
  }

  function Rndom() {
    return math.floor(math.random() * 100)
  }

  function copyClipbard(text: string) {
    navigator.clipboard.writeText(text)
    alertCopy.value=true
  }
</script>
