<template>
  <v-container class="fill-height">
    <v-responsive class="d-flex align-center text-center fill-height">
      <v-img
        contain
        height="300"
        src="@/assets/logo.png"
      />

      <div class="text-body-2 font-weight-light mb-n1">By Miguel Rodriguez</div>

      <!-- <h1 class="text-h2 font-weight-bold">Vuetify</h1> -->

      <div class="py-14" />

      <v-row class="d-flex align-center justify-center">
        <v-col cols="auto">
          <v-btn
            href="https://www.youtube.com/watch?v=AWViIxT3sJY&t=1225s"
            min-width="164"
            rel="noopener noreferrer"
            target="_blank"
            variant="text"
          >
            <v-icon
              icon="mdi-video"
              size="large"
              start
            />

            Como Funciona Las Matrices
          </v-btn>
        </v-col>

        <v-col cols="auto">
          <v-btn
            color="primary"
            min-width="228"
            rel="noopener noreferrer"
            size="x-large"
            variant="flat"
            to="/matrix"
          >
            <v-icon
              icon="mdi-speedometer"
              size="large"
              start
            />

            INICIAR
          </v-btn>
        </v-col>

        <v-col cols="auto">
          <v-btn
            href="https://gitlab.com/VIXI0/crypto_mx/"
            min-width="164"
            rel="noopener noreferrer"
            target="_blank"
            variant="text"
          >
            <v-icon
              icon="mdi-gitlab"
              size="large"
              start
            />

            Gitlab
          </v-btn>
          <v-btn
            href="https://github.com/VIXI0"
            min-width="164"
            rel="noopener noreferrer"
            target="_blank"
            variant="text"
          >
            <v-icon
              icon="mdi-github"
              size="large"
              start
            />

            Gitlab
          </v-btn>
        </v-col>
      </v-row>
    </v-responsive>
  </v-container>
</template>

<script lang="ts" setup>
  //
</script>
