<template>
  <v-app-bar flat color="background" v-show="route.name != 'welcome'">
    <v-btn to="/" icon="mdi-arrow-left"></v-btn>
    <v-app-bar-title>
      <v-img
        contain
        height="50"
        src="@/assets/logo.png"

      />
    </v-app-bar-title>
  </v-app-bar>
</template>

<script lang="ts" setup>
import { useRoute } from 'vue-router';
const route = useRoute();
console.log(route);

</script>
